img{
    height: 200px;
    width: 200px;
}
.main a{
    text-decoration: none;
    font-size: large;
    float: right;
     margin: 10px;
    padding:10px;
    color: rgb(12, 12, 12);
   
}
.main{
background-color:rgb(185, 180, 172);
width: 100%;
height: 110px;
}
body{
    background-color:white;
}
h2{
    color: rgb(12, 12, 12);
}
h1{
    color: rgb(8, 8, 8);
}
p.para1{
    font-style: italic;
    font-size: larger;
    letter-spacing: 1px;
    word-spacing: 5px;
    position: absolute;
    left: 20%;
}
p.para2{
    font-style: italic;
    font-size: larger;
    letter-spacing: 1px;
    word-spacing: 5px;
    position: absolute;
    left: 20%;
}
p.para3{
    font-style: italic;
    font-size: larger;
    letter-spacing: 1px;
    word-spacing: 5px;
    position: absolute;
    left: 20%;
}