body{
    background-color:white;
   
}
.main{
    background-color: rgb(185, 180, 172);
    height: 110px;
    width:100%;
    

}
.main a{
float:right;


}
.main a:hover{
    color: lightcyan;
}
a{
    text-decoration: none;
    font-size: large;
    margin: 10px;
    color:rgb(15, 15, 15);
    padding:10px ;

}
.block{
    display:inline-block;

    background-color: aliceblue;
}
.block img{
    height:50px;
    width:50px;

}
.block:hover{
    background-color: darkcyan;
        animation: scale 5s alternate;
}

.btn{
    border-style: none;
    outline: none;
   
}
 

.link{
    display: inline-block;
    width: 20%;
    
}
.link h3{
    color: darkred;

}
.link p{
    font-style: italic;

}
/* .link h3:hover{

    animation:rotate 2s  alternate;
    color: darkred;
    
}
@keyframes rotate{
    from{
        transform:rotate(40deg);
    }
    to{
        transform:rotate(80deg);
    }
} */
p.style {
    font-style: italic;
    font-size: larger;
    letter-spacing: 3px ;
            word-spacing: 5px;
            line-height: 30px;
            /* text-shadow: 5px 2px 3px rgb(239, 241, 243); */
           
}
.link1{
    display: inline-block;
    height: 20%;
    width: 10%;
    color: darkred;
    position: absolute;
    left: 35%;
}
/* .link1 h3{
    position: absolute;
    top: 120%;
    left: 25%;
} */
/* .link1 h3:hover{
    animation:rotate 2s  alternate;
    color: darkred;
    
}
@keyframes rotate{
    from{
        transform:rotate(40deg);
    }
    to{
        transform:rotate(80deg);
    }
} */
.link2{
    display: inline-block;
    position: absolute;
    left: 65%;
     width: 20%;
    
    }
    .link2 h3{
        color: darkred;
    }
   
@keyframes rotate{
    from{
        transform:rotate(40deg);
    }
    to{
        transform:rotate(80deg);
    }
}
.ref{

    display:none;
    margin: 10px;
    position:inherit;
   

}
.img{
    display:inline-block;
    background-color: rgb(239, 240, 241);
}
.img img{
    height:50px;
    width:50px; 
    animation-name: rotate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
   
    

}
.img img:hover{
    background-color: darkcyan;
        
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(200deg) ;
    }

}
button{
    border-style: none;
}
h1{
    font-style: italic;
    color: darkgoldenrod;
}
h1:hover{
    animation-name:translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes translate{
    from{
        color:black;
        


    }
    to{
        color:darkgreen ;
        transform: scale(0.5);

    }
}
h2{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(20px);
        transform: translateX(30px);
        color: darkblue;
        transform: scaleY(1.3);
    

    }
}
/* .para{
    height: 100px;
    width: 150px;
    font-style: italic;
    background-color: lightpink;
    border-style:none;
}
.para:hover{
    
    background-color: lightsalmon;
      animation: rotate 1s alternate;
}
.helpful{
    height: 100px;
    width:150px;
    background-color: lightpink;
}
.helpful:hover{
    background-color: lightgoldenrodyellow;
    animation: rotate 1s alternate;
}
.travel{
    height: 100px;
    width: 150px;
    background-color: lightpink;
    border-style:none;
    
}
.travel:hover{
    background-color: lightseagreen;
      animation: rotate 1s alternate;
} */