body{
    background-color:rgb(185, 180, 172);
   
}
.main{
    background-color: rgb(185, 180, 172);
    height: 110px;
    width:100%;
    

}
.main a{
float:right;


}
.main a:hover{
    color: lightcyan;
}
a{
    text-decoration: none;
    font-size: large;
    margin: 10px;
    color:rgb(15, 15, 15);
    padding:10px ;

}






label{
           
            padding: 20px,20px;
            margin: 8px,8px;
            font-size: large;
            
        }
        input{
            margin: 10px;
           
            border-style: none;
            outline: none;
           
           
         }
         #text{
            height: 100px;
            width:  250px;
            border-radius: 5px;
            border-style: none;
            outline: none;
            margin: 10px;
         }
         .one{
            border-radius: 5px;
            height: 25px;
            width: 300px;
         }
         .lab{
            color: white;
            
         }
         form{
            /* background-color:white; */
            height: 15%;
            width: 20%;
            border-radius: 7%;
            position: absolute;
            left: 10%;
            top: 25%;
           
           
            
  
         }
         .image{
         filter: blur(5px);
         position: absolute;
         top: 22%;
         }
         .frame{
           position: absolute;
           left: 50%;
           top: 22%;
           

         }
         button{
            border-style: none;
            outline: none;
            border-radius: 10px;
            margin: 5px;
            padding: 10px;
            color: darkred;
            font-size: large;
            font-weight: bold;
         }