img{
    height: 100px;
    width:100px;
  
}
.main a{
    text-decoration: none;
    font-size: large;
    float: right;
    margin: 10px;
    padding:10px;
    color: rgb(17, 17, 17);
}
.main{
    background-color: rgb(185, 180, 172);
    width: 100%;
    height: 110px;
}

h2{
    margin: 0px;
    padding: 10px;
    color: rgb(19, 18, 18);
}
h1{
    color: rgb(231, 6, 6);
    animation: skew 5s  alternate;
}
@keyframes skew{
    from{
        transform: skew();
    }
    to{
        transform: skew(50deg);
    }
}
body{
    background-color:white;
}
.app img{
    height: 100px;
    width: 100px;
    display: inline-block;
}
    .app img:hover{
    animation: scale 3s infinite alternate;
}
@keyframes scale{
    from {
        transform: scale();
    }
    to{
        transform: scale(1.3);
    }
}
p.para1{
    display: inline-block;
    position: absolute;
    left: 20%;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size:larger;
    text-shadow: 4px,4px,3px darkblue;
}
p.para2{
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 59%;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 5px;
      font-size:larger;
}
p.para3{
    display: inline-block;
    position: absolute;
    left: 20%;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 5px;
      font-size:larger;
}


