body{
    background-color:rgb(185, 180, 172);
   
}
.main{
    background-color: rgb(185, 180, 172);
    height: 110px;
    width:100%;
    

}
.main a{
float:right;


}
.main a:hover{
    color: lightcyan;
}
a{
    text-decoration: none;
    font-size: large;
    margin: 10px;
    color:rgb(15, 15, 15);
    padding:10px ;

}
.flex{
    height: 1100px;
    width: 90%;
    background-color: aliceblue;
}
.block{
    display:block;
    background-color: lightgray;
    margin: 20px;
    padding:10px;
    width:15%;
    
}
/* .block:hover{
    background-color: darkcyan;
} */
.block img{
    height:50px;
    width:50px;
}
.btn img{
    height: 100px;
    width: 100px;

}
button{
    border-style: none;
    outline: none;
    background-color: lightgray;
}
/* button:hover{
     background-color:darkcyan;
     color: white;
} */

.ref{

   display: none;
    margin: 10px;
    

}
.fun{
   position: absolute;
   top: 45%;
   left: 35%;
   
   
   
}

.fun img{
    width: 47%;
    height: 80%;
    
    
}
.fun img:hover{
    animation: scale 4s  alternate;
}
@keyframes scale{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
@media (max-width:470px) {
   .fun img{
    
     height: 150px;
     width: 150px;
    position: absolute;
    /* top: 20%;
    left:10px; */
     
   

    
     
   }
}
.app{
    position: absolute;
    left:70%;
    top: 45%;
    height: 10%;
    width: 15%;
    
}
@media (max-width:480px) {
   .app{
     display: block;
     position: absolute;
     top:42%;

   }
}
.fun1{
    position: absolute;
    left: 35%;
    top:95%;
}
.fun1 img{
    /* height:300px;
    width: 450px; */
    width: 95%;
    height: 50%;
    
    

}
.fun1 img:hover{
    animation: scale 4s  alternate;
}
@keyframes scale{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
@media (max-width:480px) {
   .fun1 img{
      
        position: absolute;
        top: 20%;
    
    /* width: 47%;
    height: 30%;
     position: absolute;
     bottom: 10px;
     right: 200px;
     */
     
   }
}
.app1{
    position: absolute;
    left: 70%;
    top: 95%;

}
@media (max-width:480px) {
   .app1{
     display: block;
     position: absolute;
     right: 50%;
     top: 75%;
   }
}
.fun2{
    position: absolute;
    left: 35%;
    top: 150%;
}
.fun2 img{
width: 95%;
height: 50%;

}
.fun2 img:hover{
    animation: scale 4s  alternate;
}
@keyframes scale{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
@media (max-width:480px) {
   .fun2 img{
   
     height: 55%;
     width: 50%;
     position: absolute;
     /* bottom: 230px; */

    
     
   }
}

.app2{
    position: absolute;
    left: 70%;
    top:150%
    
    

}
@media (max-width:480px) {
   .app2{
    
     position: absolute;
     top: 30%;
     
     
   }
}
.funs{
   position: absolute;
   top: 45%;
   left: 35%;
   
   
   
}
.funs img{
    width: 47%;
    height: 80%;
   
}
.funs img:hover{
     animation: skew 1s infinite alternate;
}
@keyframes skew{
    from{
        transform: skew(0deg);
    }
    to{
        transform:skew(5deg,2deg)
        
    }
}
@media (max-width:470px) {
   .funs img{
     display: block;
     height: 150px;
     width: 150px;
     position: absolute;
     top: 50px;

     

    
     
   }
}

.apps{
    position: absolute;
    left:70%;
    top: 45%;
    height: 10%;
    width: 15%;
    
}
@media (max-width:470px) {
    .apps{
        position: absolute;
        top: 55%;
    }
       

}
.funs1{
    position: absolute;
    left: 35%;
    top:95%;
}
.funs1 img{
    width: 68%;
    height: 80%;

}
.funs1 img:hover{
         animation: skew 1s infinite alternate;
}
@keyframes skew{
    from{
        transform: skew(0deg);
    }
    to{
        transform:skew(5deg,2deg)
        
    }
}
@media (max-width:470px) {
   .funs1 img{
     display: block;
     height: 150px;
     width: 150px;
     position: absolute;
   
    
     
   }
}
.apps1{
    position: absolute;
    left: 70%;
    top: 95%;

}
@media (max-width:480px) {
   .apps1{
     display: block;
     position: absolute;
          
   }
}
.funs2{
    position: absolute;
    left: 35%;
    top: 150%;
}
.funs2 img{
width: 47%;
    height: 80%;
   
}
.funs2 img:hover{
      animation: skew 1s infinite alternate;
}
@keyframes skew{
    from{
        transform: skew(0deg);
    }
    to{
        transform:skew(5deg,2deg)
        
    }
}
@media (max-width:470px) {
   .funs2 img{
     display: block;
    height: 150px;
    width: 150px;
    
     

    
     
   }
}

.apps2{
    position: absolute;
    left: 70%;
    top:150%
    
    

}
@media (max-width:480px) {
   .apps2{
     display: block;
     position: absolute;
  
   }
}
.function{
   position: absolute;
   top: 45%;
   left: 35%;
   
   
   
}
.function img{
    width: 47%;
    height: 80%;
   }
   .function img:hover{
     animation: rotate 2s infinite alternate;

   }
.application{
    position: absolute;
    left:70%;
    top: 45%;
    height: 10%;
    width: 15%;
    
}
.function1{
    position: absolute;
    left: 35%;
    top:95%;
}
.function1 img{
    width: 47%;
    height: 80%;
   

}
.function1 img:hover{
     animation: rotate 2s infinite alternate;
}
@keyframes rotate{
    from{
        transform: rotate3d(0deg);
    }
    to{
        transform: rotate3d(150deg);
    }
}
.application1{
    position: absolute;
    left: 70%;
    top: 95%;

}
.function2{
    display: block;
    position: absolute;
    left: 35%;
    top: 140%;
}
@media (max-width:480px){
    .function2{
        display: block;
    }
    .application2{
        display: block;
    }
}
.function2 img{
    width: 47%;
    height: 80%;
}
.function2 img:hover{
    animation-name: rotate;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.application2{
    position: absolute;
    left: 70%;
    top:150%
    
    

}
.shop{
   position: absolute;
   top: 45%;
   left: 35%;
   
   
   
}
.shop img{
    width: 47%;
    height: 80%;
}
.shop img:hover{
    background-image: url(shopping.jpg);
    animation-name:scale ;
            animation-delay: 5s;
            animation-duration: 10s;
            animation-direction: alternate;
            
            
}
@keyframes scale {
            from{
                transform: scale(0.7);
            }
            to{
                transform: scale(1);
            }
        }
.shopping{
    position: absolute;
    left:70%;
    top: 45%;
    height: 10%;
    width: 15%;
    
}
h1{
 font-style: italic;
}
h1:hover{
   
    animation: rotate 5s infinite  alternate;
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
         color: blueviolet;
    }
    to{
        transform:rotateY(360deg);
       
    }
}
.wave-text  span{
    animation: wave 2s ease-in-out infinite;
    display: inline-block;

}
.wave-text span:nth-child(1){
    animation: wave;
    animation-delay: 0s;
}
.wave-text span:nth-child(2){
    animation: wave;
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3){
    animation: wave;
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4){
    animation: wave;
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5){
    animation: wave;
    animation-delay: 0.8s;
}
@keyframes wave{
 0%,100%{
    transform: translateY(0);
 }
 50%{
    transform: translateY(-20px);
 }
}