.main a{
    text-decoration: none;
    font-size: large;
    float: right;
     margin: 10px;
    padding:10px;
    color: rgb(20, 20, 20);
   
}
.main{
background-color:rgb(185, 180, 172);
width: 100%;
height: 110px;
}
body{
    background-color:white;
}
img{
    height: 200px;
    width: 200px;
}

h1{
    color: rgb(15, 15, 15);
}
.para1{
    font-style: italic;
    font-size: larger;
    letter-spacing: 1px;
    word-spacing: 5px;
    position: absolute;
    left: 20%;
}